<div class="container">
<div class="row" ng-controller="AppController">
	<div class="span2">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header">Client Apps</li>
				<li ng-repeat="item in apps" class="{{activeClient(item.clientId)}}"><a
					href ng-click="switchClient(item.clientId)">{{item.name}}</a></li>
			</ul>
		</div>
		<!--/.well -->
	</div>
	<!--/span-->
	<div class="span9 well">
		<div class="alert alert-error" ng-show="error != ''">{{error}}</div>
		<div class="alert alert-success" ng-show="info != ''">{{info}}</div>
		<div class="row">
			<div class="span7" ng-switch on="clientId">
				<div ng-switch-when="none">&nbsp;</div>
				<div ng-switch-default>
					<strong>{{app.name}}</strong>
				</div>
			</div>
			<div class="span2 text-right">
				<div ng-switch on="clientId">
					<button class="btn btn-primary" type="button"
						ng-click="newClient()">New app</button>
					<div ng-switch-when="none">&nbsp;</div>
					<button ng-switch-default class="btn" type="button"
						ng-click="removeClient()">Delete</button>
				</div>
			</div>
		</div>

		<div ng-switch on="clientId">
			<div ng-switch-when="none">
				<h3>Welcome to SmartCampus developer console!</h3>
				<p>Start here registering your applications.</p>
			</div>
			<div ng-switch-default>
				<ul class="nav nav-tabs">
					<li class="{{activeView('overview')}}"><a href
						ng-click="viewOverview()">Overview</a></li>
					<li class="{{activeView('settings')}}"><a href
						ng-click="viewSettings()">Settings</a></li>
					<li class="{{activeView('permissions')}}"><a href
						ng-click="viewPermissions()">Permissions</a></li>
				</ul>
				<div ng-include="'./html/'+clientView+'.html'" />
<!-- 				<div ng-switch on="clientView"> -->
<!-- 					<div ng-switch-default></div> -->
<!-- 				</div> -->
			</div>
		</div>
	</div>
	<!--/span-->
</div>
<!--/row-->
</div>
