<form ng-submit="savePermissions()" >
	<div class="accordion" id="permissions" >
	  <div ng-repeat="item in permissions.services" class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" ng-class="{collapsed:isPermServiceCollapsed($index)}" ng-click="switchPermService($index)">
	        {{item.name}}
	      </a>
	    </div>
	    <div class="accordion-body"  ng-class="{collapse:isPermServiceCollapsed($index)}" style="background-color: #ffffff">
	      <div class="accordion-inner body ">
	        {{item.description}}
	        <p/>
	        <div>
	           <ul class="nav nav-tabs">
                   <li class="{{activePermView('avail')}}" ><a data-toggle="tab" href="#" ng-click="switchPermView('avail')">Available Resources</a></li>
	               <li class="{{activePermView('own')}}" ><a data-toggle="tab" href="#" ng-click="switchPermView('own')">Own Resources</a></li>
	           </ul>
	           <div ng-switch on="permView">
	               <div  ng-switch-when="own">
		               <div ng-repeat="rd in item.resource">
		                   <div class="row-fluid">
	                           <div class="span11 "><strong>{{rd.name}}</strong> ({{rd.description}})</div>
	                           <div class="span1"><a class="btn btn-mini btn-primary" href="#" ng-click="saveResourceParam(rd.id,'',item.id,clientId)"><i class="icon-plus icon-white"></i></a></div>
		                   </div>
		                   <hr class="hr-min">
		                   <div ng-repeat="r in permissions.ownResources[rd.id]">
	                          <div class="row-fluid" >
	                              <div class="span11">{{r.value}}</div>
	                              <div class="span1"><a class="btn btn-mini" href="#" ng-click="removeResourceParam(r)"><i class="icon-minus"></i></a></div>
	                          </div>
	                          <div ng-repeat="rd2 in rd.resource" class="row-fluid">
	                               <div class="row-fluid">
	                                   <div class="span11"><strong class="shift">{{rd2.name}}</strong> ({{rd2.description}})</div>
	                                   <div class="span1"><a class="btn btn-mini btn-primary" href="#" ng-click="saveResourceParam(rd2.id,r.value,item.id,clientId)"><i class="icon-plus icon-white"></i></a></div>
	                               </div>
	                               <hr class="hr-min shift">
	                               <div class="row-fluid" ng-repeat="r2 in filteredResources(permissions.ownResources[rd2.id],r.value)">
	                                   <div class="span11"><div class="shift">{{r2.value}}</div></div>
	                                   <div class="span1"><a class="btn btn-mini" href="#" ng-click="removeResourceParam(r2)"><i class="icon-minus"></i></a></div>
	                               </div>
	                           </div>
                               <hr class="hr-min shift">
		                   </div>
		               </div>
                       <hr class="hr-min">
	               </div>
	               <div ng-switch-default>
		               <div ng-repeat="rm in item.resourceMapping">
		                  <div ng-repeat="r in permissions.availableResources[rm.id]" class="row-fluid">
		                    <div class="span5"><strong>{{r.resourceUri}}</strong></div>
		                    <div class="span5">{{r.name}}</div>
		                    <div class="span1"><input type="checkbox" ng-model="permissions.selectedResources[r.resourceId]"></div>
                            <div class="span1 pull-right"><i class="{{permissionIcon(permissions.resourceApprovals[r.resourceId])}}"></i></div>
		                  </div>
                          <div ng-repeat="rm2 in rm.resourceMapping">
	                          <div ng-repeat="r in permissions.availableResources[rm2.id]" class="row-fluid">
	                            <div class="span5"><strong>{{r.resourceUri}}</strong></div>
	                            <div class="span5">{{r.name}}</div>
	                            <div class="span1"><input type="checkbox" ng-model="permissions.selectedResources[r.resourceId]"></div>
                                <div class="span1 pull-right"><i class="{{permissionIcon(permissions.resourceApprovals[r.resourceId])}}"></i></div>
	                          </div>
                          </div>
		               </div>
	               </div>
	           </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>    
    <button type="submit" class="btn btn-primary">Save permissions</button>
</form>